{% extends 'base.html' %}

{% block content %}
<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .form-container {
        width: 50%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    @media (max-width: 768px) {
        .form-container {
            width: 80%; /* Adjust the width of the form container for smaller screens */
        }
    }
</style>

<div class="container">
    <div class="form-container">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="Login">
                <h1>Login</h1>
            </div>
            <hr>
            <div class="alert alert-danger" role="alert" style="padding: 10px; background-color: #f8d7da; border-color: #f5c6cb; color: #721c24;">
                {% if messages %}
                <ul class="messages" style="list-style: none; padding-left: 0;">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="pass" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <p>Don't have an account? <a href="{% url 'signup' %}">Click here</a></p>
        </form>
    </div>
</div>
{% endblock %}
